D:\BookProject\BookGit\src\model\config\Config.py
D:\BookProject\BookGit\src\systems\__pycache__
D:\BookProject\BookGit\src\model\__pycache__
D:\BookProject\BookGit\src\model\config\__pycache__
D:\BookProject\BookGit\src\model\hooks\__pycache__
D:\BookProject\BookGit\src\model\utils\__pycache__
